@import "../vars.scss";

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 320px) {
    .contenedor__card {
        margin-top: -3.5%;
        .icono {
            z-index: 2;
            top: 15%;
            left: 22px;
            width: 5em;
            height: 5.7em;
            padding: 25px;
            padding-left: 19px;
            padding-right: 19px;
            background-color: $BlueGMD;
            position: relative;
            border-radius: 8px;
        }

        .card {
            border-radius: 15px;
            z-index: 1;
            .card-body {
                height: 104px;
                z-index: 1;
                border-radius: 5px;
                .card-title {
                    margin-top: 50px;
                    width: 75%;
                    position: relative;
                    top: 0px;
                    left: 74px;
                    color: black;
                    font-family: $roboto;
                    font-size: 24px;
                    font-weight: 400;
                    .direccion {
                        text-decoration: none;
                        color: #000;
                    }
                    .direccion:hover {
                        text-decoration: none;
                    }
                }
            }
            .card-footer {
                border-top: 1px solid gray;
                padding: 0px;
                height: 76px;
                .card-text {
                    font-family: $roboto;
                    font-weight: 400;
                    font-size: 14px;
                    position: relative;
                    left: 50px;
                    bottom: 25px;
                    width: 35%;
                    .card__footer--img {
                        padding-right: 10px;
                    }
                }
            }
        }
        
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .contenedor__card {
        margin-top: -3.5%;

        .icono {
            z-index: 2;
            top: 15%;
            left: 22px;
            width: 5em;
            height: 5.7em;
            padding: 25px;
            padding-left: 19px;
            padding-right: 19px;
            background-color: $BlueGMD;
            position: relative;
            border-radius: 8px;
        }

        .card {
            border-radius: 15px;
            height: 330px;
            z-index: 1;            
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            box-shadow: 0px 4px 4px 0px #0000003d;
            .card-body {
                z-index: 1;
                border-radius: 5px;
                position: relative;
                .card-title {
                    position: relative;
                    top: 60px;
                    color: black;
                    font-family: $roboto;
                    font-size: 36px;
                    font-weight: 400;
                    left: 27px;
                }
            }
            .card-footer {
                padding: 0px;
                height: 76px;
                border-top: 1px solid gray;

                .card-text {
                    font-family: $roboto;
                    font-weight: 400;
                    font-size: 14px;
                    position: relative;
                    left: 50px;
                    width: 30%;
                    .card__footer--img {
                        padding-right: 10px;
                    }
                }
            }
        }
        .card:hover {
            -webkit-transform: scale(1.01);
            -moz-transform: scale(1.01);
            -o-transform: scale(1.01);
            transform: scale(1.01);
            box-shadow: 0px 4px 4px 0px #00000082;
        }
    }
}

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
