@import "../vars.scss";

@media (min-width: 409px) and (max-width: 768px) {
    .navbar__container {
        background-color: $GrayNavBarGMD;
        .navbar__container--title {
            font-family: $roboto;
            font-weight: 700;
            font-size: 16px;
            color: aliceblue;
            text-decoration: none;
        }
        .navbar__container--title:hover {
            text-decoration: none;
        }
        .logo {
            width: 70px;
            height: 70px;
        }

        .form-control {
            background-color: $GrayNavBarGMD;
            border: none;
            color: $blanco;
        }
        .form-control:focus {
            background-color: $GrayNavBarGMD;
            border: none;
            color: $blanco;
            outline: none;
            outline-width: 0;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }
        .form-control::placeholder {
            color: $blanco;
        }

        .nav-link {
            font-family: $roboto;
            color: $blanco;
            font-weight: 400;
        }

        .dropdown-menu {
            background-color: $GrayNavBarGMD;
            .dropdown-item {
                color: $blanco;
            }
            .dropdown-item:hover {
                color: $GrayNavBarGMD;
            }
        }
    }
}

@media (min-width: 768px) {
    .navbar__container {
        background-color: $GrayNavBarGMD;
        .navbar__container--title {
            font-family: $roboto;
            font-weight: 700;
            font-size: 16px;
            color: aliceblue;
            text-decoration: none;
        }
        .navbar__container--title:hover {
            text-decoration: none;
        }
        .logo {
            width: 70px;
            height: 70px;
        }

        .form-control {
            background-color: $GrayNavBarGMD;
            border: none;
            color: $blanco;
        }
        .form-control:focus {
            background-color: $GrayNavBarGMD;
            border: none;
            color: $blanco;
            outline: none;
            outline-width: 0;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }
        .form-control::placeholder {
            color: $blanco;
        }

        .cont_not {
            display: grid;
            grid-template-columns: repeat(6, 35px);
            grid-template-rows: auto;
            .notificacion {
                width: 25%;
                height: 25%;
                position: relative;
                left: 10px;
                grid-row: 1;
                grid-column: 5  ;
                border-radius: 100%;
                font-family: $roboto;
                color: $blanco;
                font-size: 8px;
                padding-left: 2px;
                background-color: red;
            }
            .cont-link {
                grid-row: 1;
                grid-column: 2/5;
                font-family: $roboto;
                color: $blanco;
                font-weight: 400;
            }
            .cont-img{
                grid-row:1;
                grid-column: 1;

            }
        }
        .nav-link {
            font-family: $roboto;
            color: $blanco;
            font-weight: 400;
        }

        .dropdown-menu {
            background-color: $GrayNavBarGMD;
            .dropdown-item {
                color: $blanco;
            }
            .dropdown-item:hover {
                color: $GrayNavBarGMD;
            }
        }
    }
}
